* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {

    height: 100%;
    font-family:'Roboto', sans-serif;
}

.container {
    
    display:flex;
    flex-direction: column;

}


/* Header section */
header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 10px 300px;
    
}

.logo {
font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 200px;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #E5e7eb;
    margin-top: 10px;
    
}

.hero button {
    padding: 5px 25px;
    margin-top: 10px;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}

.heading {
   flex:1;
}

.img {
    flex: 1;
    

}
.img img {
    width: 100%;
}


/* Section */

section {
    margin-bottom: 150px;
    padding: 10px 300px ;
}

.info  {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
   display: flex;
   justify-content: center;
   padding: 50px 0;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    text-align: center;

}

.images > div > p {
    text-align: center;
    
}

.images > div > img {
   height: 190px;
    width: 280px;
    border-radius: 10%;
    margin-bottom: 15px;

}


/* Quote section */

article { 
    padding: 100px 450px ;
    background-color: #E5e7eb;
}

.text p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    
}

.qoute {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

/* Sign up section */

.sign-up {
    padding: 100px 400px;
    
    
}

.action {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    padding: 35px 100px;
    border-radius: 8px;
    color: #f9faf8;
}

.product p:first-child {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sign.button {
    display: flex;
    align-items: center;
}

.blue {

    padding: 6px 25px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
}


/* Footer */

footer {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
}