* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100%;
    font-family:'Roboto', sans-serif;
}

.container {
    display:flex;
    flex-direction: column;

}


/* Header section */
header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 10px 300px;
    
}

.logo {
font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 100px;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #E5e7eb;
    margin-top: 10px;
    
}

.hero button {
    padding: 5px 25px;
    margin-top: 10px;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}

.heading {
   flex:1;
}

.img {
    flex: 1;

}
.img img {
    max-width: 100%;
    height: auto;
}


/* Section */

section {
    margin-bottom: 150px;
    padding: 10px 400px ;
}

.info  {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
   display: flex;
   justify-content: center;
   padding: 50px 0;
}

.images {
    display: flex;
    gap: 25px;

}

.images > div > p {
    text-align: center;
    margin-top: 10px;
}

.images > div > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10%;
}
